In [19]:
import pandas as pd
import numpy as np

df2019=pd.read_csv(r'C:/Users/Javier Vega/Documents/GitHub/tarea1-add/data/interim/d2019.csv' , sep =",")
df2020=pd.read_csv(r'C:/Users/Javier Vega/Documents/GitHub/tarea1-add/data/interim/d2020.txt', sep =" ")

In [20]:
df2019=df2019.iloc[:,1:]
df2020=df2020.iloc[:,1:]

df2019

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
1,2.0,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
2,3.0,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
3,4.0,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
4,5.0,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0
5,6.0,NaN,652.78,657.49,NaN,678.68,693.25,NaN,721.70,717.52,NaN,745.85,784.25,2019.0
6,7.0,688.42,653.90,658.40,NaN,681.09,692.21,NaN,716.35,NaN,715.53,743.65,NaN,2019.0
7,8.0,679.69,654.44,662.19,664.17,683.49,NaN,683.12,718.55,NaN,717.05,740.23,NaN,2019.0
8,9.0,680.10,NaN,NaN,663.01,684.51,NaN,685.83,710.98,711.22,722.28,NaN,779.04,2019.0
9,10.0,678.09,NaN,NaN,663.15,686.43,692.28,688.88,NaN,713.72,724.27,NaN,771.29,2019.0
10,11.0,677.58,656.46,670.83,662.92,NaN,697.34,685.40,NaN,714.77,720.61,746.23,778.14,2019.0
11,12.0,NaN,660.82,669.37,664.19,NaN,693.60,683.38,712.04,714.39,NaN,756.08,772.93,2019.0
12,13.0,NaN,660.49,667.09,NaN,685.67,694.89,NaN,716.69,711.29,NaN,783.72,768.69,2019.0
13,14.0,675.15,661.60,665.68,NaN,693.04,696.25,NaN,708.37,NaN,712.98,794.51,NaN,2019.0
14,15.0,674.95,665.90,670.62,660.67,692.33,NaN,681.07,NaN,NaN,712.04,801.83,NaN,2019.0
15,16.0,673.76,NaN,NaN,662.86,692.62,NaN,NaN,710.14,707.07,715.48,NaN,766.76,2019.0
16,17.0,672.73,NaN,NaN,663.98,692.79,698.72,679.48,NaN,709.81,718.69,NaN,762.83,2019.0
17,18.0,671.37,663.98,669.39,660.48,NaN,699.52,681.69,NaN,NaN,713.23,782.82,756.95,2019.0
18,19.0,NaN,660.82,667.21,NaN,NaN,696.81,683.27,709.26,NaN,NaN,773.81,752.30,2019.0
19,20.0,NaN,658.75,664.78,NaN,696.61,693.99,NaN,711.94,NaN,NaN,782.71,752.60,2019.0
20,21.0,670.10,654.52,666.13,NaN,NaN,684.19,NaN,710.63,NaN,709.71,797.17,NaN,2019.0
21,22.0,672.42,654.33,665.12,662.27,697.23,NaN,685.81,709.52,NaN,723.52,795.14,NaN,2019.0
22,23.0,672.26,NaN,NaN,663.91,696.70,NaN,688.28,713.22,715.24,726.24,NaN,749.83,2019.0
23,24.0,672.41,NaN,NaN,668.19,698.03,683.41,691.57,NaN,722.17,726.15,NaN,754.27,2019.0
24,25.0,672.14,651.36,676.60,672.83,NaN,682.31,691.36,NaN,721.92,723.43,795.94,NaN,2019.0
25,26.0,NaN,649.22,679.08,676.21,NaN,678.32,694.16,716.40,727.08,NaN,791.16,751.04,2019.0
26,27.0,NaN,649.80,679.02,NaN,694.84,680.06,NaN,718.75,726.17,NaN,793.49,746.66,2019.0
27,28.0,667.04,649.92,683.73,NaN,696.46,679.86,NaN,721.55,NaN,725.87,806.30,NaN,2019.0
28,29.0,671.29,NaN,681.09,673.86,703.48,NaN,696.62,724.20,NaN,724.37,828.25,NaN,2019.0
29,30.0,669.60,NaN,NaN,677.67,708.20,NaN,697.22,720.65,725.68,726.34,NaN,744.62,2019.0
30,31.0,666.76,NaN,NaN,NaN,707.86,NaN,699.98,NaN,NaN,NaN,NaN,NaN,2019.0

In [21]:
month=df2020.columns[1:13]
month

Index(['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct',
       'Nov', 'Dic'],
      dtype='object')

In [22]:
df_concat=pd.concat([df2019,df2020])
df_concat

,DÃ­a,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Year
0,1.0,NaN,657.81,651.79,678.53,NaN,NaN,679.15,700.82,NaN,728.21,NaN,NaN,2019.0
1,2.0,694.77,NaN,NaN,672.56,678.71,NaN,677.62,704.88,720.20,729.38,NaN,812.13,2019.0
2,3.0,697.09,NaN,NaN,670.05,683.31,709.80,681.30,NaN,724.72,727.80,NaN,804.29,2019.0
3,4.0,697.64,655.39,656.57,667.55,NaN,704.59,680.48,NaN,725.69,719.53,735.05,802.44,2019.0
4,5.0,NaN,653.80,659.07,666.32,NaN,696.78,677.64,711.13,723.30,NaN,736.66,796.75,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27.0,776.52,811.10,836.05,859.95,802.10,NaN,768.63,786.91,NaN,779.57,766.00,NaN,2020.0
27,28.0,787.86,816.26,NaN,856.76,816.47,NaN,768.81,784.27,787.15,772.05,NaN,710.26,2020.0
28,29.0,788.13,NaN,NaN,850.41,812.74,NaN,767.82,NaN,784.19,775.56,NaN,710.64,2020.0
29,30.0,788.18,NaN,835.23,836.62,NaN,816.36,759.18,NaN,784.46,770.45,766.69,711.24,2020.0
30,31.0,797.96,NaN,846.30,NaN,NaN,NaN,754.45,779.92,NaN,NaN,NaN,NaN,2020.0

In [25]:
df_sii = pd.melt(df_concat,id_vars=["Year",'DÃ­a'],value_vars=month,var_name='Mes')
df_sii=df_sii[["Year","Mes","DÃ­a","value"]]
df_sii.head()
df_sii.to_csv('C:/Users/Javier Vega/Documents/GitHub/tarea1-add/data/interim/df_sii.csv',
                  sep=';',index=False)

In [26]:
df_sii

       Year  Mes   DÃ­a   value
0    2019.0  Ene   1.0     NaN
1    2019.0  Ene   2.0  694.77
2    2019.0  Ene   3.0  697.09
3    2019.0  Ene   4.0  697.64
4    2019.0  Ene   5.0     NaN
..      ...  ...   ...     ...
739  2020.0  Dic  27.0     NaN
740  2020.0  Dic  28.0  710.26
741  2020.0  Dic  29.0  710.64
742  2020.0  Dic  30.0  711.24
743  2020.0  Dic  31.0     NaN

[744 rows x 4 columns]

In [30]:
print(df_sii.groupby(by=["Mes"],as_index = True)["value"].agg("mean"))

Mes
Abr    760.389048
Ago    749.182619
Dic    752.561750
Ene    724.854773
Feb    726.342000
Jul    735.394318
Jun    744.299024
Mar    755.523488
May    753.659500
Nov    769.540976
Oct    753.867907
Sep    748.036154
Name: value, dtype: float64

In [33]:
print(df_sii.groupby(by=["Year","Mes"],as_index = False)["value"].agg("mean"))

      Year  Mes       value
0   2019.0  Abr  667.399048
1   2019.0  Ago  713.703333
2   2019.0  Dic  770.390500
3   2019.0  Ene  677.061818
4   2019.0  Feb  656.304500
5   2019.0  Jul  686.059545
6   2019.0  Jun  692.409000
7   2019.0  Mar  667.678571
8   2019.0  May  692.003810
9   2019.0  Nov  776.530000
10  2019.0  Oct  721.032273
11  2019.0  Sep  718.442222
12  2020.0  Abr  853.379048
13  2020.0  Ago  784.661905
14  2020.0  Dic  734.733000
15  2020.0  Ene  772.647727
16  2020.0  Feb  796.379500
17  2020.0  Jul  784.729091
18  2020.0  Jun  793.718095
19  2020.0  Mar  839.375455
20  2020.0  May  821.805263
21  2020.0  Nov  762.884762
22  2020.0  Oct  788.267143
23  2020.0  Sep  773.402381

2- Al utilizar as_index= True se toma como columna de agrupaciÃ³n la indicada en el parÃ¡metro by, caso contrario se ocupa la primera o index del df.

3- Missing values se infiere corresponde a los fines de semana y feriados donde no se registra valor para el precio del dolar.

In [34]:
df_sii

       Year  Mes   DÃ­a   value
0    2019.0  Ene   1.0     NaN
1    2019.0  Ene   2.0  694.77
2    2019.0  Ene   3.0  697.09
3    2019.0  Ene   4.0  697.64
4    2019.0  Ene   5.0     NaN
..      ...  ...   ...     ...
739  2020.0  Dic  27.0     NaN
740  2020.0  Dic  28.0  710.26
741  2020.0  Dic  29.0  710.64
742  2020.0  Dic  30.0  711.24
743  2020.0  Dic  31.0     NaN

[744 rows x 4 columns]